{% extends "index.html" %}
{% block content %}
<main class="content">

    <h1>Reinforcement Learning</h1>
    <p class="p_size_large">Reinforcement learning is a feedback-based learning method, in which a learning agent gets a reward for each right action and gets a penalty for each wrong action. The agent learns automatically with these feedbacks and improves its performance. In reinforcement learning, the agent interacts with the environment and explores it. The goal of an agent is to get the most reward points, and hence, it improves its performance.</p>
    <p class="p_size_large">The robotic dog, which automatically learns the movement of his arms, is an example of Reinforcement learning.
    </p>
</main>
    {% endblock %}  