<div class="dropdown">
  <button class="dropbtn"> <a style="color: black;" href="unsupervised">Unsupervised</a> </button>
  <div class="dropdown-content" style="display:none;">
    <div class="dropdown-sub">
      <button class="dropbtn-sub">Clustering</button>
      <div class="dropdown-sub-content">
        <a href="#">Item 1</a>
        <a href="#">Item 2</a>
      </div>
    </div>
    <div class="dropdown-sub">
      <button class="dropbtn-sub">Association</button>
      <div class="dropdown-sub-content">
        <a href="#">Item 1</a>
        <a href="#">Item 2</a>
      </div>
    </div>
  </div>
</div>

<style>
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-sub:hover .dropdown-sub-content {
  display: block;
}
</style>
