{% extends "index.html" %}
{% block content %}
<main class="content">
    
    <h1>Unsupervised Learning.</h1>
    <p class="p_size_large">Unsupervised learning is a learning method in which a machine learns without any supervision.
    </p>
    <p class="p_size_large">The training is provided to the machine with the set of data that has not been labeled, classified, or categorized, and the algorithm needs to act on that data without any supervision. The goal of unsupervised learning is to restructure the input data into new features or a group of objects with similar patterns.</p>
    <p class="p_size_large">In unsupervised learning, we don't have a predetermined result. The machine tries to find useful insights from the huge amount of data. It can be further classifieds into two categories of algorithms:</p>
    <ul class="p_size_large">
        <li> <a style="text-decoration: none;" href="clustering">Clustering</a> </li>
        <li> <a style="text-decoration: none;" href="association">Association</a> </li>
    </ul>
</main>
{% endblock %}  